.stylediv
{ 
width: 100px; 
height: 30px; 
margin: 0 auto; 
text-align: center; 
align-items: center; 
padding-top: 1rem; 
padding-bottom: 2.5rem;
background-color: #ffffff;
border-radius: 25px;
border: 5px solid #ffff23;
} 
.exemple:hover { 
background: #f5ee24; 
} 
.stylepop{ 
position: absolute; 
top:150px; 
max-width: 100%; 
margin-left: 50px;
background-color: #000000; 
} 
.containerst{ 
background-color: #000000; 
height:300px; 
} 